body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.from {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    width: 80%;
    height: 100px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 2%;

}

.Exit {
    width: 40px;
}

.Exit {
    text-align: center;
    /* Horizontally centers the text */
    line-height: inherit
}

.skip {
    width: 40px;
}

#skip {
    text-align: center;
    /* Horizontally centers the text */
    line-height: inherit
}

#pip {
    font-size: larger;
}


.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}


button {
    margin-top: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px 40px;
    width: 800%;
    cursor: pointer;
}

@media screen and (max-width: 915px) {
    button {
        margin-top: 30%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 20px 40px;
        width: 500%;
        /* Remove or adjust the width property as needed */
        cursor: pointer;
    }
}

@media screen and (max-width: 9650px) {
    button {
        margin-top: 30%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 20px 40px;
        width: 300%;
        /* Remove or adjust the width property as needed */
        cursor: pointer;
    }
}

:root {
    --steps: 16;
    background: #1d1f20;
}


#score {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

#type {
    font-family: 'Inconsolata', Consolas, monospace;
    font-size: 2vw;
    color: #d7b94c;
    position: relative;

    &::after {
        content: "|";
        width: 100%;
        color: white;
        background: var(--background);
        animation: typing 4s steps(var(--steps)) forwards,
            caret 1s infinite;
    }
}

@keyframes typing {
    to {
        width: 0
    }
}

@keyframes caret {
    20% {
        color: transparent
    }
}


@media screen and (max-width: 1115px) {
    #type {
        font-family: 'Inconsolata', Consolas, monospace;
        font-size: 6vw;
        color: #d7b94c;
        position: relative;

        &::after {
            content: "|";
            width: 100%;
            color: white;
            background: var(--background);
            animation: typing 4s steps(var(--steps)) forwards,
                caret 1s infinite;
        }
    }

}

/* CSS */
button {
    appearance: none;
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200%;
    will-change: transform;
}

.but:disabled {
    pointer-events: none;
}

.but:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.but:active {
    box-shadow: none;
    transform: translateY(0);
}

.waivy {
    position: relative;
    left: 100%;
}